*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
}

.main {
    background: #121212;
    height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: 1fr 298px;
    padding: 1rem 6%;
}

.header__logo {
    margin: auto 0;
    text-transform: uppercase;
}

.header__search {
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    height: 52px;
    padding: 0 10px;
}